@font-face {
  font-family: 'AzoSansRegular';
  src: url('/fonts/azo-sans/AzoSans-Regular.woff') format('woff'); /* IE9 Compat Modes */
  font-style: normal;
  font-weight: 200;
  font-display: auto;
}
@font-face {
  font-family: 'AzoSansBold';
  src: url('/fonts/azo-sans/AzoSans-Bold.woff') format('woff'); /* IE9 Compat Modes */
  font-style: normal;
  font-weight: 200;
  font-display: auto;
}
